/* Universal reset and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Body styling */
body {
    margin: 0;
    padding: 0;
    color: #282b66;
}

/* Container styling */
.container {
    background: url('../../assets/grass.png');
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    overflow: scroll;
    
  
}

/* Head styling */
.head {
    margin: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head h2 {
    font-size: 46px;
    color: #213547;
    margin: 20px;
}

.head button {
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    background: #03C04A;
    color: white;
    padding: 15px 30px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-right: 30px;
}

button:hover {
    border-color: #5f63ad;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/* Intro section styling */
.intro {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.intro img {
    max-width: 70%;
    margin-top: 20px;
}

.intro p {
    flex: 1;
    margin: 50px;
    font-size: 20px;
    font-weight: 600;
    color: #213547;
}

/* Media query for devices with a maximum width of 1024px */
@media (max-width: 1024px) {
    .head h2 {
        font-size: 30px;
    }

    .head button {
        margin-top: 20px;
        padding: 15px ;
    }

    .intro p {
        font-size: 16px;
        
    }
}

/* Media query for devices with a maximum width of 768px (tablets) */
@media (max-width: 768px) {
    .head h2 {
        font-size: 20px;
    }

    .head button {
        font-size: 17px;
        margin-top: 20px;
         padding: 12px;
        border-radius: 10px;
    }

    .intro p {
        font-size: 16px;
       
    }

    .intro img {
        width: 100%;
        margin-top: 20px;
    }
}

/* Media query for devices with a maximum width of 480px (mobile) */
@media (max-width: 480px) {
    .head h2 {
        font-size: 24px;
    }

    .head button {
        font-size: 12px;
        margin-top: 15px;
        padding: 10px 10px;
    }

    .intro {
        flex-direction: column;
        align-items: center;
       
    }

    .intro img {
        width: 100%;
        margin-top: 20px;
    }

    .intro p {
        font-size: 14px;
    }
}
