* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    position: relative;
    margin-top: 15px;
    width: 100%;
    padding: 50px 0 30px; /* Adjusted padding */
    border-top-left-radius: 125px;
    background: #c1c4c4;
    font-size: 13px;
    line-height: 20px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.col p {
    font-size: 25px; /* Adjusted font size for mobile */
    font-weight: 600;
    padding: 10px;
    line-height: 3rem;
    margin-right: 30px;
  
}

.col h3 {
    margin-top: 25px;
    width: fit-content;
    margin-bottom: 50px;
    position: relative;
    font-size: 24px;
}

ul li {
    list-style: none;
    margin-bottom: 12px;
}

ul li a {
    font-size: 18px;
    line-height: 2rem;
    font-weight: 600;
    text-decoration: none;
    color: #282b66;
}

ul li a:hover {
    color: #5156bf;
}

.cow-image {
    flex-basis: 25%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cow-image img {
    max-width: 100%;
    height: auto;
}

/* Media query for screens with a maximum width of 768px (tablet and mobile) */
@media (max-width: 768px) {
    .row {
        width: 90%;
        margin: 10px;
    }

    .col {
        flex-basis: 40%;
    }
    .col p {
        font-size: 20px;
    }
    
    .col li a {
        font-size: 13px; /* Adjusted font size for <a> tags on mobile */
        margin-top: 100px; /* Add margin-top for <a> tags on mobile */
        
    }


    .col h3 {
        font-size: 30px; /* Further adjust font size for smaller screens */
        margin: 20px;
    }

    .cow-image {
        flex-basis: 80%; /* Take up full width on mobile */
        padding: 30px;
        margin-left: 20px;
    }
}

/* Media query for screens with a minimum width of 1024px (desktop) */
@media (min-width: 1024px) {
    .col {
        flex-basis: 20%; /* Adjusted flex basis for desktop */
    }

    .col h3 {
        font-size: 30px; /* Adjusted font size for desktop */
    }
    .cow-image {
        flex-basis: 25%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .cow-image img {
        max-width: 100%;
        height: auto;
        display: block; /* Ensure the image is centered */
        margin: 0 auto; /* Center the image horizontally */
    }
}
