.navbar {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 3px -2px black;
  height : 100px;
  width: 100vw;
}

.navbar-logo img {
  
  gap: 10px;
  width: 130px;
  height: 95px;
  border-radius: 60px;
  margin-left: 20px;
  margin-top: 2px;
}

.nav-links {
 
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: #626262;
  font-size: 20px;
  margin-right: 50px;
}
.nav-links a {
  font-weight: 00;
  color: #282b66;
  text-decoration: inherit;
}
.nav-links a:hover {
  color: #5156bf;
}

.nav-links li {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
  font-weight: 600;
  
 
}

.nav-links hr {
  width: 0;
  height: 3px;
  border: none;
  background: #03C04A;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.nav-links li:hover hr {
  width: 100%;
}
