
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: grid;
  justify-content: space-between;

  box-shadow: 0 1px 3px -2px black;
  height: 8rem;
  width: 100%;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  position: relative;
}

.nav-logo {
  display: grid;
  align-items: center;
  justify-content: start;
  grid-column: 1/2;
  gap: 10px;

.nav-logo img {
  width: 150px;
  height: 100px;

}

.menu-icon {
  display: none;
  grid-column: 4/5;
  justify-self: end;
  font-size: 3rem;
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  font-size: 9rem;
  list-style: none;

  grid-column: 2/5;

}

.nav-menu li {
  font-size: 100px; /* Increase font size for navbar list items */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

.nav-menu a {
  font-size: 1.5rem; /* Increase font size for navbar links */
  font-weight: 600;
  color: #282b66;
  text-decoration: none;
}


.nav-menu a:hover {
  color: #5156bf;
}

.nav-menu hr {
  width: 0;
  height: 3px;
  border: none;
  background: #03C04A;
  border-radius: 10px;
  transition: width 0.3s ease-in;
}

.nav-menu li:hover hr {
  width: 70%;
}

@media (max-width: 998px) {
  .menu-icon {
    display: block;

  }
  .nav-logo img {
    width: 110px;
    height: 110px;
  }
  
  .nav-menu {
    display: none;
    grid-template-columns: none;
    gap: 0;
    position: absolute;
    top: 10rem;
    right: 0;
    background: white;
    width: 100%;
    text-align: center;
    box-shadow: 0 1px 3px -2px black;
    padding: 0;
    margin: 0;
  }

  .nav-menu.open {
    display: block;
  }

  .nav-menu li {
    margin: 1rem 0;
  }
}
