/* Universal reset and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar styling */
.navbar {
  top: 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 3px -2px black;
  height: 8rem;
  width: 100%;
  align-items: center;
  position: sticky;
  background-color: white;
  z-index: 1000;
}

.nav-logo {
  margin: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  background: none;
}

.animated-cow {

  top: 1px;
  position: absolute;
  bottom: 0;
  width: 500px; /* Adjusted width of a single frame */
  height: 400px; /* Adjusted height of a single frame */
  background-image: url('../../assets/PichwaiCow.png'); 
  background-repeat: no-repeat;
  background-size: 100px 100px; 
  animation: walk steps(6) infinite, moveCow 50s linear infinite;
}

@keyframes walk {
  from {
    background-position: 0;
  }
  to {
    background-position: -1800px; /* Adjusted for larger frame width (6 frames x 300px per frame) */
  }
}

@keyframes moveCow {
  from {
    left: -300px; /* Start just outside the left side of the screen */
  }
  to {
    left: 100%; /* Move to the right side of the screen */
  }
}

.nav-logo img {
  width: 160px;
  height: 120px;
}

.nav-menu {
  display: flex;
  padding: 0.5rem;
  list-style: none;
}

.nav-menu li {
  display: block;
  font-size: 1.8rem;
  margin: 0 2.5rem;
  border-radius: 0.5rem;
}

.menu {
  display: none;
  position: absolute;
  top: 1.25rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  cursor: pointer;
}

.menu span {
  height: 0.4rem;
  width: 100%;
  background-color: black;
  border-radius: 0.2rem;
}

.nav-menu a {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  color: #841107;
  text-decoration: none;
}

.nav-menu a:hover {
  color: #5156bf;
}

.nav-menu hr {
  width: 0;
  height: 3px;
  margin-bottom: 5px;
  border: none;
  background: #03c04a;
  border-radius: 10px;
  transition: width 0.3s ease-in;
}

.nav-menu li:hover hr {
  margin-bottom: 5px;
  width: 100%;
}

/* Media queries for responsive design */
@media (max-width: 1024px) {
  .nav-menu li {
    font-size: 1.2rem;
    margin: 0 0.5rem;
  }
}

@media (max-width: 768px) {
  .menu {
    display: flex;
  }

  .nav-logo img {
    width: 110px;
    height: 110px;
    margin-right: 35rem;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
    text-align: center;
  }

  .nav-menu.open {
    display: flex;
  }

  .nav-menu li {
    margin: 1rem 0;
  }

  .animated-cow {
    width: 300px; /* Adjust width for tablets */
    height: 240px; /* Adjust height for tablets */
    background-size: 50px 50px; /* Adjust size to fit the scaled sprite sheet */
  }

  @keyframes walk {
    from {
      background-position: 0;
    }
    to {
      background-position: -900px; /* Adjusted for smaller frame width (6 frames x 150px per frame) */
    }
  }
}

/* Additional styles for smaller devices */
@media (max-width: 480px) {
  .nav-logo img {
    width: 50px;
    height: 50px;
    margin-left: 20rem;
    margin-bottom: 3rem;
  }

  .menu {
    display: flex;
    height: 1rem;
  }

  .menu span {
    height: 0.2rem;
    width: 70%;
  }

  .navbar {
    height: 3rem;
  }

  .menu-toggle {
    display: none;
  }

  .menu-toggle:checked ~ .menu {
    display: none;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 60%;
    margin-bottom: 0.25rem;
    text-align: center;
    background: #f0f0f0;
    position: absolute;
    top: 3.0rem;
    right: 0;
  }

  .menu-toggle:checked ~ .nav-menu {
    display: flex;
  }

  .nav-menu li {
    text-align: center;
    width: 100%;
    margin: 0 0;
    padding: 0.5rem 0;
  }

  .animated-cow {
    width: 200px; /* Adjust width for mobile devices */
    height: 160px; /* Adjust height for mobile devices */

  }

  @keyframes walk {
    from {
      background-position: 0;
    }
    to {
      background-position: -600px; /* Adjusted for even smaller frame width (6 frames x 100px per frame) */
    }
  }
}
